body {
   background-image: url(backggg.jpg)
}
h2 {text-decoration-line: underline;}
table {
   background-color: rosybrown;
}
a {
text-decoration: none;
color: blueviolet;
font-size: 25px;
}

